.container{
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 15px;
  row-gap: 15px;
  column-gap: 15px;
  justify-content: center;
  text-align: center;
}

.book-card {
  text-align: center;
  border-radius: 5%;
  padding: 10px;
  border: 0.5px solid rgb(218, 218, 218);
  transition: transform 0.2s ease;
}

.book-card:hover {
  border: 1px solid rgb(187, 187, 187);
  cursor: pointer;
  border-radius: 5%;
  box-shadow: 0 3px 0 rgb(150, 149, 149);
  transform: scale(1.03);
}

.logo{
  text-align: center;
  color: #fdfdfd;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.header {
  background-color: #27006e;
  color: white;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.bookinfo{
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.container-detalhes{
    background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.loading-text {
  font-size: 20px;
  font-weight: bold;
}

.btn-voltar {
  background: none;
  border: none;
  color: #fdfdfd;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}

.btn-voltar:hover {
  text-decoration: underline;
}
